body {
	background-image: url(../images/cork-wallet.png);

}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: black;
  background: #ffffff;
}

footer {
	padding: 20px;
	border-top: 5px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	color: white;
	background: #666666;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2{
	color: #4aaaa5;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-bottom-width: 100%;
	
}

#full {
	width: 960px;
	padding: 20px;
	clear: both;
	overflow: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

aside{
	padding: 20px;
	background: white;
	float: left;
	width: 50%;
	height: 425px;
	margin-left: 65px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

#division {
	background: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	float: right;
	padding: 20px;
	align-content: right;
	}

input[type=text] {
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input[type=email] {
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

textarea {
	width: 100%;
	height: 150px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input[type=submit] {
	background: #4aaaa5;
	width: 90px;
	height: 30px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-bottom: 20px;
}

.clearfix:: after{
	content:"";
	display: block;
	clear: both;
}

.smallerimage{
	height: 80px;
	width: 160px;
}

.smallerimage2 {
	height: 80px;
	width: 80px;
}